@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

/* fira code is pretty so i use that for everything */
* {
  font-family: 'Fira Code', monospace;
  font-variant-ligatures: contextual;
}

body {
  background-color: #1E1E1E;
  display: block;
  width: 100%;
  height: 100%;
}

.sidebar {
  float: left;
  display: flexbox;
  flex-flow: column;
  height: 100vh;
  background-color: #252526;
  width: fit-content;
}

.sidebar-item {
  text-decoration: none;
  color: #BABABB;
  font-size: auto;
  display: block;
  text-align: center;
  padding: 12px 12px 12px 12px;
  flex: auto;
  max-width: 5vw;
}

.content {
  float: left;
}

/*
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

center {
  margin: auto;
  width: 50%;
  text-align: center;
} */