!*/

#compiled python files
*.pyc
__pycache__/
*.$py.class

# ignore data files
*.json
*.db
config.ini

!package*

# mac thing
.DS_Store

# logs and stuff
*.bin
*.db
*.log
*.gz

build/
node_modules/
.gradle
source/config/config.ini
