wheel
discord.py[voice]
humanize
motor
imageio
beautifulsoup4
aiohttp
aiowolfram
defusedxml
emoji
pyfiglet
youtube_dl
fuzzywuzzy
python-Levenshtein
randomdict
# 1.19.4 fails to build
numpy==1.19.3
opencv-python-headless
psutil

