# discord api (duh)
discord.py[voice]
# lovley database stuff
pymongo
dnspython

# human date parser
dateparser

# more bits
emoji
red-lavalink
aiorule34
pyfiglet
mcstatus
pillow

# code formatting
yapf
clang-format