@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Fira Code', monospace;
}

.header {
  overflow: hidden;
  background-color: #252526;
  padding: 10px 10px;
}

.header a {
  float: left;
  color: #67CDFE;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #3A3D41;
}

.header-right {
  float: right;
}

@media screen and (max-width: 550px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
}

.section {
  color: white;
}

.top-section {
  color: white;
  padding: 20px;
}

.invite-button {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(42, 44, 46);
}

.invite-button:hover {
  background-color: #3A3D41;
}

.top-header {
  text-align: center;
}

.top-title {
  display: inline-block;
}