@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

* {
  font-family: 'Fira Code', monospace;
}

.app-body {
  background-color: #1E1E1E;
  height: 100vh;
}

.app-header {
  background-image: linear-gradient(-45deg, #57cfb0, #2ab5d3);
  display: flex;
  flex-flow: row;
  height: 7vh;
}

.header-item {
  text-align: middle;
  color: white;
  font-size: 200%;
  padding: 6px 6px 6px 6px;
}

.header-item:hover {
  background-color: #37373D;
}